#inicio {
    width: 100%;
    height: 35px;
    padding: 1px;
    background-color: rgb(0, 0, 0);
}

#bt {
    margin-top: auto;
}

#bt-2 {
    margin-top: auto;
    float: right;
}

#menu {
    width: 95%;
    height: 110px;
}

#menu2 {
    margin-top: 0px auto;
    float: left;
}

#bt-3 {
    margin-top: auto;
    padding: 4px;
    float: right;
}

#carousel {
    width: 90%;
    height: 100%;
}

#card {
    width: 100%;
    height: 40px;
}

#cardc {
    width: 100%;
    height: 60px;
    background-color: #ffc107;
}

#card2 {
    padding-top: 0px;
    margin-top: auto;
    float: left;
}

#bordapreta {
    width: 1212px;
    height: 15%;
    background-color: #ffc107;
    color: #ffc107;
}

#cards {
    width: 90%;
}

#menu a:hover {
    background-color: #ffc107;
}

.rodape {
    height: 70px;
    background-color: black;
    margin-top: 15px;
    width: 100%;
    line-height: 70px;
    color: white;
    text-align: center;
    font-size: 13px;
}