#header {
    width: 100%;
    height: 150px;
    padding: 1px;
    background-color: black;
}

#header:hover {
    background-color: aliceblue;
}

#Menu {
    width: 100%;
    height: 60px;
    background-color: rgb(241, 146, 2);
    display: inline-table;
}

#Menu a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 128, 0);
}

#footer {
    width: 100%;
    height: 100px;
    background-color: black;
}

#Carousel {
    width: 90%;
    height: 100%;
}

#barra {
    width: 90%;
    height: 40px;
    background-color: rgb(241, 146, 2);
    color: rgb(0, 0, 0);
}

#card {
    width: 70%;
    height: 100%;
}

#cadastro {
    width: 70%;
    height: 100%;
}

#Senha {
    width: 40%;
    height: 100%;
}

#service {
    width: 70%;
    height: 100%;
}

.rodape {
    height: 70px;
    background-color: black;
    margin-top: 15px;
    width: 100%;
    line-height: 70px;
    color: white;
    text-align: center;
    font-size: 13px;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: white;
}